/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style-type: none;
}

* {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
  line-height: 1.5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/*--------MOBILE HEADER------- */
.menu {
  display: none;
}
.contacts-list {
  display: none;
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*---------MOBILE HEADER------------ */
@media screen and (max-width: 767px) {
  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    margin-left: auto;
  }
  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }
  .mobile-menu-wrapper.is-open {
    transform: translateX(0%);
  }
  .mobile-menu-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color:#E7E9FC;
    border-color: #0000001a;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-container {
    position: relative;
  }
  .mobile-menu-all{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.mobile-menu-link{
    display:block;
    color:  #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
  
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  /* ----------TABLET HEADER----------- */
  .mobile-menu-open-btn {
    display: none;
  }
  .mobile-menu-wrapper {
    display: none;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu-item {
    width: calc((100%-40 * 2) / 3);
    position: relative;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-item:hover .overlay-nav {
    transform: translateY(0%);
  }
  .menu-link {
    display: block;
    color: #2e2f42;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .menu-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .color-active {
    color: #404bbf;
  }
  .active-studio {
    background-color: #404bbf;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    gap: 20px;
  }
  .overlay-nav {
    position: absolute;
    bottom: 0;
    background-color: #404bbf;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-navigation {
    width: 495px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contacts {
    font-style: normal;
    display: flex;
    letter-spacing: 0.02em;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    margin-left: 122px;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    color: #434455;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-list-item {
    width: calc((100%-40) / 2);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
    /* ---------TABLET HEADER------------ */
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  /* ----------DESKTOP HEADER----------- */
  /* ---------DESKTOP HEADER------------ */
}
